@{
    ViewData["Title"] = "Faire des Maths";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>Nombre 1 : <input type="text" id="nb1" name="nb1" /></p>
<p>Nombre 2 : <input type="text" id="nb2" name="nb2" /></p>
<p>Nombre 3 : <input type="text" id="nb3" name="nb3" /></p>
<p>Nombre 4 : <input type="text" id="nb4" name="nb4" /></p>

<p><button id="btnCalculer" class="btn calculer"/>Calculer</button></p>

<h2>Résultat</h2>
<p>Somme des valeurs : <div id="afficher"></div></p>
<p>Valeur minimale : <div id="minimum"></div></p>
<p>Valeur maximale : <div id="maximum"></div></p>
<p>Valeurs au carré : <div id="carre1"></div><div id="carre2"></div><div id="carre3"></div><div id="carre4"></div></p>

<script src="~/js/site.min.js"></script>


    //function calculer() {
    //    var capture1 = parseInt(document.getElementById('nb1').value);
    //    var capture2 = parseInt(document.getElementById('nb2').value);
    //    var capture3 = parseInt(document.getElementById('nb3').value);
    //    var capture4 = parseInt(document.getElementById('nb4').value);

    //    if (document.getElementById('valider').checked) {
    //        var addition = capture1 + capture2 + capture3 + capture4;
    //        document.getElementById('afficher').innerHTML = addition;

    //        var minimum = Math.min(capture1, capture2, capture3, capture4);
    //        document.getElementById('minimum').innerHTML = minimum;

    //        var maximum = Math.max(capture1, capture2, capture3, capture4);
    //        document.getElementById('maximum').innerHTML = maximum;

    //        var carre1 = Math.pow(capture1, 2);
    //        document.getElementById('carre1').innerHTML = carre1;

    //        var carre2 = Math.pow(capture2, 2);
    //        document.getElementById('carre2').innerHTML = carre2;

    //        var carre3 = Math.pow(capture3, 2);
    //        document.getElementById('carre3').innerHTML = carre3;

    //        var carre4 = Math.pow(capture4, 2)
    //        document.getElementById('carre4').innerHTML = carre4;
    //    }
    //    else "ne rien faire";       
    //}
           
