@{
    ViewData["Title"] = "Faire des Maths";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@


<p>Nombre 1 : <input type="text" id="nb1" name="nb1" /></p>
<p>Nombre 2 : <input type="text" id="nb2" name="nb2" /></p>
<p>Nombre 3 : <input type="text" id="nb3" name="nb3" /></p>
<p>Nombre 4 : <input type="text" id="nb4" name="nb4" /></p>

<p><input type="submit" onclick="valider()" id="valider" name="valider" value="valider" checked /></p>

<h2>Résultat</h2>
<p>Somme des valeurs : <div id="somme"></div></p>
<p>Valeur minimale : <div id="minimum"></div></p>
<p>Valeur maximale : <div id="maximum"></div></p>
<p>Valeurs au carré : <div id="carre"></div></p>

<script src="~/js/site.min.js"></script>